.cartfront-footer-bar {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-position: center center;

	.widget {
		&::after {
			display: table;
			content: '';
			clear: both;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
