.cartfront-boxes-container {
	text-align: center;
}
.cartfront-boxes-wrapper {
	float: left;
    text-align: center;
    margin-right: 4.347826087%;
    margin-bottom: 4.235801032em;
}
.cartfront-columns-2 .cartfront-boxes-wrapper {
	width: 47.8260869565%;
}
.cartfront-columns-3 .cartfront-boxes-wrapper {
	width: 30.4347826086%;
}
.cartfront-columns-4 .cartfront-boxes-wrapper {
	width: 21.7391304347%;
}
.cartfront-columns-2 .cartfront-boxes-wrapper:nth-child(2n),
.cartfront-columns-3 .cartfront-boxes-wrapper:nth-child(3n),
.cartfront-columns-4 .cartfront-boxes-wrapper:nth-child(4n) {
	margin-right: 0;
}
.cartfront-boxes-wrapper img {
	display: block;
    margin: 0 auto 1.618em;
}
.cartfront-boxes-wrapper h2 {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: .5407911001em;
}
@media (max-width: 768px) {
	.cartfront-boxes-wrapper {
		float: none;
		width: 100% !important;
		margin-right: 0;
	}
	.cartfront-boxes-wrapper img {
		width: 100%;
		max-width: 324px;
	}
}