.woocommerce-active .site-header .site-branding {
    float: left;
	width: 21.7391304348%;
    margin-right: 4.347826087%;
    margin-bottom: 0;
}
.woocommerce-active .site-header .site-search {
	width: 47.8260869565%;
    float: left;
    margin-top: 4px;
    margin-right: 4.347826087%;
    margin-bottom: 0;
}
.woocommerce-active .site-header .site-search input[type=search] {
	background: #ffffff;
	border: 1px solid #333333;
	border-radius: 50px;
}
.site-header-cart .cart-contents {
	padding: 0;
	margin-top: 14.5px;
}
.storefront-primary-navigation {
	margin-top: 15px;
}